<div class="py-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <app-alert></app-alert>
      <span class="anchor"></span>
      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">Post a Product for Sale</h3>
        </div>
        <div class="card-body">
          <form class="form">
            <div class="form-group">
              <label>Title</label>
              <input type="text" [(ngModel)]="productData.productTitle" #title="ngModel" name="title"
                     class="form-control rounded-0" minlength="2" maxlength="20" required>
              <div *ngIf="title.invalid && (title.touched)"
                   class="alert alert-danger">

                <div *ngIf="title.errors.required">
                  Title is required.
                </div>
                <div *ngIf="title.errors.minlength">
                  Title must be at least 2 characters long.
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Price</label>
              <input type="number" [(ngModel)]="productData.productPrice" #price="ngModel" name="price"
                     class="form-control rounded-0" min="0" max="1000000" [pattern]="pricePattern" required>
              <div *ngIf="price.invalid && (price.touched)"
                   class="alert alert-danger">

                <div *ngIf="price.errors.required">
                  Price is required.
                </div>
                <div *ngIf="price.errors.min">
                  Price must be minimum 0.
                </div>
                <div *ngIf="price.errors.max">
                  Price can be maximum 1000000.
                </div>
                <div *ngIf="price.errors.pattern">
                  Please provide a valid price(Only numbers and maximum price 1000000).
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Category</label>
              <select [(ngModel)]="productData.productCategory" name="categoryId" class="custom-select" #category="ngModel"
                      required>
                <option *ngFor="let category of categories" [value]="category._id">
                  {{ category.categoryName }}
                </option>
              </select>
              <div *ngIf="category.invalid && (category.touched)"
                   class="alert alert-danger">

                <div *ngIf="description.errors.required">
                  Category can't be empty.
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Description(max length 500)</label>
              <textarea [(ngModel)]="productData.productDescription" #description="ngModel"
                        name="description" class="form-control rounded-0" rows="5"
                        minlength="20" maxlength="500" required></textarea>
              <div *ngIf="description.invalid && (description.touched)"
                   class="alert alert-danger">

                <div *ngIf="description.errors.required">
                  Description is required.
                </div>
                <div *ngIf="description.errors.minlength">
                  Description must be at least 20 characters long.
                </div>
                <div *ngIf="description.errors.maxlength">
                  Description must be shorter than 500 characters.
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Upload Image</label> <!-- accept="image/*" -->
              <input type="file" class="form-control-file" accept=".png, .jpg, .jpeg" name="file" (change)="fileChange($event)">
            </div>
            <button type="button" (click)="addProduct()" class="btn btn-dark float-left">Add</button>
            <button type="button" routerLink="/account" class="btn btn-dark float-right">Back</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
