<section id="profile">
  <div class="container p-5">
    <h4 class="display-4">My Profile</h4>
    <hr>
    <div *ngIf="!accountUserData" class="m-auto">
      <h1 class="text-center display-3 mt-5">
        <i class="fa fa-spinner fa-spin"></i>
      </h1>
    </div>
    <div *ngIf="accountUserData.name" class="row mt-5">
      <div class="col-md-3">
        <img [src]="accountUserData.picture" alt="userimage" class="rounded-circle image">
      </div>
      <div class="col-md-8 ml-3">
        <p id="name" class="lead">{{ accountUserData.name }}</p>
        <a routerLink="/account/my-orders" class="btn btn-dark">My Orders</a>
        <br>
        <br>
        <a routerLink="/account/settings" class="btn btn-dark">Change Account Settings</a>
        <br>
        <br>
        <a routerLink="/account/address" class="btn btn-dark">Change Address</a>
        <br>
        <br>
        <div>
          <hr />
          <div class="row">
            <div class="col-md-6 mb-3">
              <a routerLink="/account/add-product" class="btn btn-dark btn-block">Post Product for Sale</a>
            </div>
            <div class="col-md-6">
              <a routerLink="/account/my-products" class="btn btn-dark btn-block">My Products</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
