<div *ngIf="cartItems.length === 0" class="alert alert-info">Your cart is empty. You have to be logged in to add products.</div>

<div class="card" *ngIf="cartItems.length > 0">
  <div class="card-header">Cart</div>
    <div class="card-body">
      <ul  class="list-group">
        <li *ngFor="let item of cartItems" class="list-group-item">
          <div class="cart-item">
            <a routerLink="/products/{{ item._id }}">
              <Strong>{{ item.productTitle }}</Strong>
            </a>
          </div>
        </li>
      </ul>
    </div>
</div>

